/* section{
    position:relative;
    min-height:66vh;
    background:#112d42;
}

section::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:#03a9f4;
} */

section .container{
    display:flex;
    width:100vw;
    flex-direction:row;
}

section .container .contactinfo{
    position: absolute;
    width: 30%;
    height: 64vh;
    background: #005e69f5;
    z-index: 5;
    animation:contactinfo 1s linear;
    /* top: 29%; */
    transform:translate(15%,2%);
}

@keyframes contactinfo{
    0%{
        transform:translate(-80%,2%);
    }

    100%{
        transform:translate(15%,2%);
    }
}

section .container .contactForm{
    width: 70%;
    position: absolute;
    background: white;
    left: 22%;
    z-index: 1;
    height: 70vh;
    top: 26%;
    border:1px solid #ccc;
    animation:contactForm 1s linear;
}
@keyframes contactForm{
    0%{
        left: 87%;
    }

    100%{
        left: 22%;
    }
}


section .container .contactinfo h2{
    color:#fff;
    font-size:24px;
    font-weight: 500;
    margin-left:40px;
    margin-top:23%
}

section .container .contactinfo .info{
    position:relative;
    margin:20px 0;
}

section .container .contactinfo .info li{
    position:relative;
    list-style:none;
    display:flex;
    cursor:pointer;
    align-items: flex-start;
    margin-bottom:15px;
}

section .container .contactinfo .info li span:nth-child(1)
{
    width:30px;
    min-width:30px;
}

section .container .contactinfo .info li span:nth-child(1) img
{
    max-width:100%;
    filter:invert(1);
    /* opacity:0.5; */
}

section .container .contactinfo .info li span:nth-child(2)
{
    color:white;
    margin-left:10px;
    font-weight:300;
    opacity:0.5;
}
section .container .contactinfo .info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2)
{
    opacity:1;
}

section .container .contactinfo .sci
{
    position:relative;
    display:flex;
}

section .container .contactinfo .sci li{
    list-style: none;
    margin-right:15px;
}

section .container .contactinfo .sci li a{
    text-decoration:none;
}

section .container .contactinfo .sci li a span{
    /* filter:invert(1);
    opacity:0.5; */
    font-size:20px;
}

section .container .contactinfo .sci li:hover a img{
    opacity:1;
}

/* section .container .contactForm{
    position:absolute;
    padding:70px 50px 70px 250px;
    background:white;
    margin-left:150px;
    width:calc(100% - 150px);
    height:100%;
} */

section .container .contactForm h2{
    color:#0f3959;
    font-size:24px;
    font-weight: 500;
    margin-left:16vw;
}

section .container .contactForm .formBox{
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-top:30px;
    margin-left:16vw;
    margin-right:1vw;
}

section .container .contactForm .formBox .inputBox{
    position:relative;
    margin:0 0 35px 0;
}

section .container .contactForm .formBox .inputBox.w50
{
    width:47%;
}
section .container .contactForm .formBox .inputBox.w100
{
    width:100%;
}

section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea{
    width:100%;
    padding:5px 0;
    resize:none;
    font-size:18px;
    font-weight:300;
    color:#333;
    border:none;
    border-bottom:1px solid #777;
    outline:none;
}

section .container .contactForm .formBox .inputBox textarea{
    min-height:120px;
}

section .container .contactForm .formBox .inputBox span{
    position:absolute;
    left:0;
    padding:5px 0;
    font-size:18px;
    font-weight:300;
    color:#333;
    transition:0.5s;
    pointer-events:none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform:translateY(-20px);
    font-size:12px;
    font-weight:400;
    letter-spacing:1px;
    color:#ff568c;
}

section .container .contactForm .formBox .inputBox input[type="submit"]
{
    position:relative;
    cursor:pointer;
    background:#0f3959;
    color:#fff;
}